.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;

}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: white;
}

button{
	background-color: white;
	border: transparent;
	font-size: 1rem;
}
